*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style-type: none;
}
a{
    color:#fff;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(126, 126, 126, 0.7),rgba(33, 9, 25, 0.7)),url("eduford_img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 2%;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:0.25%;
}
.logo-img{
    width: 150px;
}
.links-box li{
    display: inline-block;
    margin: 5px 10px;
}
.links-box li a{
    color:#fff;

}
.links-box li::after{
    content:"";
    width: 0%;
    height: 2px;
    background-color: red;
    display: block;
    transition: 0.5s;
    text-align: center;
    margin: 0 auto;
}
.links-box li:hover::after{
    width: 100%;
}
.title-slogan{
    position: relative;
    display:flex;
    justify-content:center;
    flex-flow:column nowrap;
    font-size:20px;
    color:#fff;
    text-align: center;
    flex-grow: 1;
}
.title-slogan h2{
    font-weight:800;
    margin-bottom: 13px;
    font-size:60px;
}
.special-btn{
    display: block;
    font-size:15px;
    color:#fff;
    border:1px solid #ff7403;
    margin: 30px auto;
    cursor:pointer;
}
.special-btn:hover{
    background:#ff7403 ;
    transition: 0.7s;
}
.special-btn a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
}
.links-container{
    display:flex;
}
.fa-bars,.fa-times{
    display: none !important;
}
/* course section */

.course-section{
    width: 100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
.course-title{
    text-align: center;
}
.course-title h2{
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
}
.course-title p{
    font-size: 13px;
    font-weight: 400;
    color:#747474;
    margin-top: 25px;
}
.course-container-box{
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
}
.course-box{
    width: 420px;
    min-height: 150px;
    padding: 30px;
    background-color: #ffefef;
    border-radius: 8px;
    margin: 30px 10px;
    text-align: center;
    transition: 0.3s;
}
.course-box h2{
    font-weight: 700;
}
.course-box p{
    font-size: 15px;
}
.course-box:hover{
        box-shadow:0px 0px 12px 2px #ffd8d8;
}

/* campus section */

.campus-section{
    width: 100%;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    padding: 20px;
    
}
.campus-main-title{
    text-align: center;
}
.campus-main-title h2{
    margin-bottom: 17px;
}
.campus-container-boxes{
    padding: 10px;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
}
.campus-box{
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    width: 330px;
    max-height:510px;
    margin:15px 10px;
}
.campus-box-location{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: white;
    opacity: 0;
    top: 100%;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.campus-box:hover .campus-box-location{
    width: 100%;
    height: 100%;
    background-color: #ff0000c2;
    transform: translateY(-100%);
    opacity: 1;
}
.campus-box img{
    width: 100%;
    display: block;
}

/* facilities section */

.facilities-section{
    width: 100%;
    display:flex;
    flex-flow:column nowrap;
    padding:20px;
    align-items:center;
}
.facilities-main-title{
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.facilities-container-boxes{
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
}
.facilities-box{
    width: 350px;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    overflow:hidden;
    margin: 25px 15px;
}
.facilities-img{
    border-radius:10px;
    overflow: hidden;
    width:100%;
    display: block;
}
.facilities-desc h2{
    font-size: 20px;
    font-weight:700;
    margin: 15px 0 10px 0;
}
.facilities-desc p{
    text-align: left;
    font-size: 15px;
    color:#727272;
    margin: 20px 0;
}

/* testimonial section */
.testi-section{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-flow:column nowrap;

}
.testi-container-boxes{
    display:flex;
    flex-flow:row wrap;
    padding:20px 50px;
    justify-content: center;
}
.main-testi-title{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    margin-bottom: 15px;
}
.main-testi-title h2{
    text-align: center;
}
.main-testi-title p{
    text-align: center;
    margin-top: 10px;
    color:#727272;
    line-height:18px;
    font-size:15px;
}
.testi-box{
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    padding:15px;
    margin:20px 20px 0 0;
    min-width: 360px;
}
.testi-box img{
    width: 50px;
    height:50px;
    display:block;
    border-radius:100%;
    overflow:hidden;
}
.user-comment-box{
    width: 80%;
}
.testi-box{
    width: 45%;
    min-height:150px;
    border-radius: 15px;
    background-color: rgb(255, 252, 202);

}
.user-comment{
    line-height: 22px;
    margin-left: 10px;
}
.comment-user-name{
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}
.comment-star-box-white{
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
    overflow: hidden;
    font-size: 17px;
    color:rgb(153, 153, 153);
}
.main-comment-star-box{
    position: relative;
    width: 97px;
}
.comment-star-box-orange{
    position: relative;
    width: 92%;
    display: flex;
    flex-flow:row nowrap;
    overflow: hidden;
    color: rgb(252, 203, 97);
    font-size:17px;
    top: -17px;
    z-index: 2;
}

/* cts section */
.cts-section{
    width: 100%;
    padding:30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.main-cts{
    display: flex;
    flex-flow:column nowrap;
    text-align: center;
    width: 80%;
    background: linear-gradient(rgba(126, 126, 126, 0.7),rgba(33, 9, 25, 0.7)),url("eduford_img/banner2.jpg");
    min-height: 410px;
    background-position: center;
    background-size: cover;
    justify-content: center;
    color:#fff;
    overflow: hidden;
    border-radius: 15px;
    padding: 10px;
}
.main-cts .special-btn{
    padding:7px 20px;
}
.main-cts h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}
.main-cts p{
    font-size: 18px;
}
footer{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #f7f7f7;
}
footer h4{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 15px;
}
footer .icons-container{
    width: 130px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    color:#8b8b8b;
}
.icons-container i {
    cursor: pointer;
    font-size: 18px;
}
.creator{
    margin-top: 40px;
}
.creator i{
    color: red;
}
/* media for max-width:650px */

@media screen and (max-width:650px){
    .fa-bars{
        cursor: pointer;
        display: block !important;
    }
    .links-container{
        right: -200px;
    }
    .title-slogan h2{
        font-weight:800;
        margin-bottom: 13px;
        font-size:42px;
    }
    .title-slogan{
        font-size: 17px;
    }
    .links-box{
        width: 100%;
        background: #ff7403;
        display: flex;
        flex-flow:column nowrap;
        text-align: left;
        padding:43px 7px;
        overflow: hidden;
        
    }
    .links-box li{
        display: block;
        margin:10px 0;
    }
    .links-container{
        width: 200px;
        position: absolute;
        top: 0;
        z-index: 2;
        height: 100vh;
        transition: 1s;
    }
    .fa-times{
        font-size: 28px;
        width: 20px;
        height: 20px;
        line-height:20px !important;
        position: relative;
        right: -27px;
        top:8px;
        cursor:pointer;
        display: block !important;
    }
    .fa-bars{
        font-size: 35px;
        color:white;
    } 

    /* course section */
    .course-container-box{
        flex-flow: column nowrap;
        align-items: center;
    }
    .course-section{
        padding: 90px 20px;
    }
    .course-box{
        margin: 30px 10px 0px 10px;
        width: 100%;
        max-width: 450px;
    }
    .course-box p{
        font-size: 13px;
    }

    /* campus section */

    .campus-box{
        width:80%;
    }

    /*facilities section*/

    .facilities-box{
        width: 100%;
    }

    /*testimonial section*/

    .testi-container-boxes{
        flex-flow: column;
        padding: 20px;
    }
    .testi-box{
        width: 100%;
        min-width: 0;
    }
    .user-comment{
        line-height: 22px;
        margin-left: 20px;  
    }
    /*  cts section */
}
